.gameContainer {
    position: relative;
    color: rgb(0, 0, 0);
    background-size: cover;
    height: 300px;
    width: 200px;
    background-position: center;
    margin: 20px 2.5%;
}
.gamesList {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.specific_text {
    text-align: left;
    column-count: 3;
}
.hero {
    height: 400px;
    background-size: cover;
}
.App {
    margin-bottom: 40px;
}